 window {
	font-size: 22px;
	font-family: "Roboto Mono";
	background-color: #2D2D2D;
	border-bottom: 3px solid;
	border-image: linear-gradient(90deg, #f5f0ed, #d6d5d4);
	border-image-slice: 1;
}

#entry {
	padding: 0.25em;
}


#entry:selected {
	background: linear-gradient(90deg, #f5f0ed, #d6d5d4)
}

#text:selected{
	color: #333333;
}

/*old colors
/*00A5F4, #00E5D0
